body /* set's background and font' */
{
    font: normal 16px/1.5em helvetica; 
    text-align: center; 
    background:url(../assets/images/databaseBackground.png); 
    background-size:100% 100%;
}
#mainBox /* Main container to sub containers */
{
    width:1000px;
    margin:20px auto;
}
#heading /* Container for heading image */
{
    position: relative;
    height: 200px;  
    background:black;
    border-top-right-radius: 4em;
}
#headingImage /* Manipulates image to fit heading */
{
    border-top-right-radius: 4em;
    width: 1000px;
    height: 200px;
}

#navBarBox /* Settings for nav bar */
{
    position: relative;
    float: left;
    background: #333; /*Grey*/
    height: 80px;
    width: 1000px;
}
div#navBarBox ul /* Settings for unordered List */
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /*grey */
}
div#navBarBox li /* Settings for list */
{
    float: left;
    border-right: 1px solid #BBB /*grey*/
}
div#navBarBox li a /* Settings for the display of the elements of the list */
{
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}
div#navBarBox li a:hover:not(.active)  /* sets colour for hovered icons that are not the home icon */
{
    background-color: #551A8B; /*Purple*/
}
.active /* Uses a different colour for the home icon */
{
    background-color: #A25DE1; /*Lavender*/
}
#mainArea /* Main container for test and images */
{
    height: 1000px;
    padding: 20px 0px;
    float:left;
    width:1000px;
    font-family: 'Orbitron', sans-serif;
    background-size: 100% 100%;
    background-image: url(../assets/images/StarBackGround.jpg);
    color: white;
}
div#mainArea p /* Settings for paragraph Layout*/
{
    padding: 10px 10px;
    margin: 10px;
    font-weight: bold;
}
#footer /* footer settings */
{
    padding:0px;
    height: 150px;
    width:1000px;
    background: blue;
    float:left; 
    border-bottom-left-radius: 4em;
    background-size: 100% 100%;
    position: relative;
}
#footerImage /* image manipulation for footer */
{
    border-bottom-left-radius: 4em;
    width: 1000px;
    height: 150px;
}

table {
    background-color: #9900FF;
    color: black;
    position: relative;
    display: block;
    margin-left: 15%;
    margin-right: 15%;
} 

table, th, td {
    border: 1px solid #21618C;
}

#db_img{
    height: 150px;
    width: 150px;
}
