#intro /* SETS THE INTRO IMAGE TO COVER THE WHOLE SCREEN */
{
    position: absolute;
    top:0px;
    left: 0px;
   width:100%;
   height:100%;
}
#introRebel /* Sets the location for the Rebel Button */
{
    background-image: url(../assets/images/allianceLogo.png);
    background-size: cover;
    position: relative;
    z-index: 1;
    float: right;
    top: 25px;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    border: 5px solid #000000;
}
#introImperial /* Sets the location for the Empire Button */
{
    background-image: url(../assets/images/imperialLogo.png);
    background-size: cover;
    position: relative;
    z-index: 3;
    float: right;
    top: 300px;
    height: 150px;
    width: 150px;
    border-radius: 150px;
    border: 5px solid #000000;
}