body /* set's background and font' */
{
    font: normal 16px/1.5em helvetica, aria, sans-serif; 
    text-align: center; 
    background:url(../assets/images/RebelBackGround.jpg); 
    background-size:100% 100%;
}
#mainBox /* Main container to sub containers */
{
    width:1000px;
    margin:20px auto;
}
#heading /* Container for heading image */
{
    position: relative;
    height: 200px;  
    background:black;
    border-top-left-radius: 4em;
}
#headingImage /* Manipulates image to fit heading */
{
    border-top-left-radius: 4em;
    width: 1000px;
    height: 200px;
}

#navBarBox /* Settings for nav bar */
{
    position: relative;
    float: left;
    background: blue;
    height: 80px;
    width: 1000px;
}
div#navBarBox ul /* Settings for unordered List */
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; /*grey */
}
div#navBarBox li /* Settings for list */
{
    float: left;
    border-right: 1px solid #BBB /*grey*/
}
div#navBarBox li:last-child /* settings for last element of the list */
{
    border-right: none;
    float: right;
}
div#navBarBox li a /* Settings for the display of the elements of the list */
{
    display: block;
    color: white;
    text-align: center;
    padding: 30px 16px;
    text-decoration: none;
}
div#navBarBox li a:hover:not(.active)  /* sets colour for hovered icons that are not the home icon */
{
    background-color: #FF1155; /*light red */
}
.active /* Uses a different colour for the home icon */
{
    background-color: #FF0000; /*Red*/
}
#mainArea /* Main container for test and images */
{
    height: 1000px;
    padding: 20px 0px;
    float:left;
    width:1000px;
    font-family: 'Orbitron', sans-serif;
    background-size: 100% 100%;
    background-image: url(../assets/images/StarBackGround.jpg);
    color: white;
}
div#mainArea p /* Settings for paragraph Layout*/
{
    padding: 10px 10px;
    margin: 10px;
    font-weight: bold;
}
.alignLeft /* settings for the left alligning image */
{
    clear: right;
    float: left;
    margin: 30px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #FF1155;
    padding: 0px;
    width: 200px;
    height: 250px;
}
.alignRight /* settings for right alligning images */
{
    position: relative;
    float: right;
    margin: 30px;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    border-color: #FF1155;
    padding: 0px;
    width: 200px;
    height: 250px;
}
#footer /* footer settings */
{
    padding:0px;
    height: 150px;
    width:1000px;
    background: #FF1155;
    float:left; 
    border-bottom-right-radius: 4em;
    background-size: 100% 100%;
    position: relative;
}
#footerImage /* image manipulation for footer */
{
    border-bottom-right-radius: 4em;
    width: 1000px;
    height: 150px;
}
